<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_CALENDAR"/>
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:replace="android:maxSdkVersion"/>
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
  <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
  <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:replace="android:maxSdkVersion"/>
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="https"/>
    </intent>
  </queries>
  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="true" android:theme="@style/AppTheme" android:supportsRtl="true" android:enableOnBackInvokedCallback="false" android:fullBackupContent="@xml/secure_store_backup_rules" android:dataExtractionRules="@xml/secure_store_data_extraction_rules">
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="true"/>
    <meta-data android:name="expo.modules.updates.ENABLE_BSDIFF_PATCH_SUPPORT" android:value="true"/>
    <meta-data android:name="expo.modules.updates.EXPO_RUNTIME_VERSION" android:value="@string/expo_runtime_version"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH" android:value="ALWAYS"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATE_URL" android:value="https://u.expo.dev/9dc511ee-ee3e-4798-ae29-30efc8f5343e"/>
    <activity android:name=".MainActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode|smallestScreenSize|locale|layoutDirection" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:theme="@style/Theme.App.SplashScreen" android:exported="true" android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="culturepass"/>
        <data android:scheme="exp+culturepass"/>
      </intent-filter>
      <intent-filter android:autoVerify="true" data-generated="true">
        <action android:name="android.intent.action.VIEW"/>
        <data android:scheme="https" android:host="culturepass.app" android:pathPrefix="/"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
      <intent-filter data-generated="true">
        <action android:name="android.intent.action.VIEW"/>
        <data android:scheme="culturepass"/>
        <data android:scheme="exp+culturepass"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <receiver android:name=".CultureSpotlightWidgetProvider" android:exported="true" android:label="@string/culture_spotlight_widget_display_name">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
        <action android:name="expo.modules.widgets.ACTION_WIDGET_INTERACTION"/>
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/culture_spotlight_widget_info"/>
      <meta-data android:name="expo.modules.widgets.NAME" android:value="CultureSpotlightWidget"/>
    </receiver>
    <receiver android:name=".CultureNearYouWidgetProvider" android:exported="true" android:label="@string/culture_near_you_widget_display_name">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
        <action android:name="expo.modules.widgets.ACTION_WIDGET_INTERACTION"/>
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/culture_near_you_widget_info"/>
      <meta-data android:name="expo.modules.widgets.NAME" android:value="CultureNearYouWidget"/>
    </receiver>
    <receiver android:name=".CultureIdentityQRWidgetProvider" android:exported="true" android:label="@string/culture_identity_qr_widget_display_name">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
        <action android:name="expo.modules.widgets.ACTION_WIDGET_INTERACTION"/>
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/culture_identity_qr_widget_info"/>
      <meta-data android:name="expo.modules.widgets.NAME" android:value="CultureIdentityQRWidget"/>
    </receiver>
    <receiver android:name=".CultureUpcomingTicketWidgetProvider" android:exported="true" android:label="@string/culture_upcoming_ticket_widget_display_name">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
        <action android:name="expo.modules.widgets.ACTION_WIDGET_INTERACTION"/>
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/culture_upcoming_ticket_widget_info"/>
      <meta-data android:name="expo.modules.widgets.NAME" android:value="CultureUpcomingTicketWidget"/>
    </receiver>
    <receiver android:name=".CulturePassWatchWidgetProvider" android:exported="true" android:label="@string/culture_pass_watch_widget_display_name">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
        <action android:name="expo.modules.widgets.ACTION_WIDGET_INTERACTION"/>
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/culture_pass_watch_widget_info"/>
      <meta-data android:name="expo.modules.widgets.NAME" android:value="CulturePassWatchWidget"/>
    </receiver>
    <receiver android:name=".CultureMembershipWidgetProvider" android:exported="true" android:label="@string/culture_membership_widget_display_name">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
        <action android:name="expo.modules.widgets.ACTION_WIDGET_INTERACTION"/>
      </intent-filter>
      <meta-data android:name="android.appwidget.provider" android:resource="@xml/culture_membership_widget_info"/>
      <meta-data android:name="expo.modules.widgets.NAME" android:value="CultureMembershipWidget"/>
    </receiver>
  </application>
</manifest>