# Example env for server
PORT=8080
NODE_ENV=development
# Either set a JSON stringified service account, or rely on ADC in GCP.
FIREBASE_SERVICE_ACCOUNT_JSON=

# Optional: other service secrets
STRIPE_SECRET_KEY=
