@font-face {
  font-family: 'Poppins_400Regular';
  src: url('/fonts/Poppins_400Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins_500Medium';
  src: url('/fonts/Poppins_500Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins_600SemiBold';
  src: url('/fonts/Poppins_600SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins_700Bold';
  src: url('/fonts/Poppins_700Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Ionicons';
  src: url('/fonts/Ionicons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
